.gradient-dark {
    background-image: linear-gradient(to right, #186c57, white);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.gradient {
    background-image: linear-gradient(to right, #186c57, #a2cfc4);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}