.bubbles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.bubble {
    position: absolute;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    border-radius: 50%;
    opacity: 0.6;
    animation: bubble 40s infinite;

}

@keyframes bubble {
    0% {
        transform: translateY(0) scale(1);
    }

    33% {
        transform: scale(1.1);
    }

    66% {
        transform: scale(0.9);
    }

    100% {
        transform: translateY(0) scale(1);
    }
}

.bubble1 {
    width: 275px;
    height: 275px;
    top: -10%;
    left: 20%;
}

.bubble2 {
    width: 220px;
    height: 220px;
    top: 45%;
    right: 15%;
}

.bubble3 {
    width: 255px;
    height: 255px;
    top: 5%;
    left: -1%;
}

.bubble4 {
    width: 250px;
    height: 250px;
    top: 65%;
    right: 10%;
}

.bubble5 {
    width: 150px;
    height: 150px;
    top: -10%;
    right: 10%;
}
.bubble6{
    width: 150px;
    height: 150px;
    top: 90%;
    left: 10%;
}

@media screen and (max-width: 768px) {
    .bubble1 {
        width: 200px;
        height: 200px;
        top: -10%;
        left: 20%;
    }

    .bubble2 {
        width: 150px;
        height: 150px;
        top: 45%;
        right: 15%;
    }

    .bubble3 {
        width: 175px;
        height: 175px;
        top: 5%;
        left: -1%;
    }

    .bubble4 {
        width: 200px;
        height: 200px;
        top: 65%;
        right: 10%;
    }

    .bubble5 {
        width: 120px;
        height: 120px;
        top: -5%;
        right: 10%;
    }
}

.login-container {
    position: relative;
    z-index: 10;
}